[run]
branch = True

source = server_manager, tests, ./

omit =
    server_manager/_version.py
    .venv/*
    setup.py
    versioneer.py
    launcher.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    if __name__ == "__main__":
    pass
